:root {
    --bs-primary: #3772FF; 
    --bs-primary-rgb: 55, 114, 255; 
    --bs-body-color: #000000; 
    --bs-border-radius: 50px; 
    --bs-btn-font-size: 14px; 
    --bs-emphasis-color-rgb: 255, 255, 255; 
    --bs-border-width: 1.5px; 
    --bs-body-font-size: 1.125rem; 
    --bs-body-line-height: 1.375rem; 
    --bs-dark-rgb: 8,7,8;
    --rw-border-color: #58595B; 
    --bs-font-sans-serif: 'Montserrat', 'san-serif'; 

   
}

.btn {
    --bs-btn-font-size: 0.875rem;
    --bs-btn-line-height: 0.875rem; 
    text-transform: uppercase;
     --bs-btn-padding-y: 20px; 
    --bs-btn-padding-x: 30px; 
    
}

.btn-outline-primary {
    --bs-btn-color: #000000CC; 
    --bs-btn-border-color: #C7C8CA; 
    --bs-btn-hover-bg: var(--bs-primary); 
    --bs-btn-hover-color: #FFFFFF;  
    &.btn-arrow {
        img {
            margin-left: 15px; 
        }
        &:hover {
            img {
            filter: brightness(0) invert(1);
            }   
        }
    }
}

.bg-primary, .bg-dark {
    color: #FFFFFF; 
    .btn-outline-primary  {
        --bs-btn-color: #ffffff; 
        --bs-btn-hover-color: #FFFFFF;  
        --bs-btn-hover-bg: #FFFFFF; 


         &.btn-arrow {
            img {
                filter: brightness(0) invert(1);
            }
        }

    }
}

.h1, h1 {
    font-size: 72px; 
    font-weight: 600; 
    line-height: 86px; 

}

.h2, h2 {
    font-size: 37px; 
    line-height: 44px; 
    font-weight: 600; 
}

.small-title {
    font-size: 18px; 
    line-height: 14px; 
    font-weight: 600; 
    text-transform: uppercase;
    color: var(--bs-primary)
}

section {
    padding-top: 60px; 
    padding-bottom: 60px; 
}

ul {
    font-weight: 600; 
}

.slanted-arrow-link {
    color: white;
    text-decoration: none; 
    img {
        margin-left: 20px; 
    }
}

.bordered-list {
    list-style: square;
    li {
        border-top: solid 1px var( --rw-border-color); 
        padding-top: 15px; 
        padding-bottom: 30px; 
        list-style-position: inside;
        &:last-child {
            padding-bottom: 0; 
        }
        &::marker  {
            color: var(--bs-primary); 
        }
    }
}

@media (min-width: 1400px) {
.container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1520px;
}}