.quote-logo-slider-section {
    padding-top: 150px; 
    padding-bottom: 150px; 
    .quote-logo-slider-container {
        .logo-slider-row {
            .quote-logo-title-col {
                h2 {
                    padding-bottom: 35px; 
                }
            }

        }
        .quote-row {
            padding-top: 130px; 
            .quote-callout {
                blockquote {
                    padding-bottom: 40px; 
                    margin-bottom: 0; 
                    line-height: 44px; 
                }
                .quote-attribute {
                    .quote-text-wrapper {
                        .quote-name {
                            font-weight: 700; 
                        }
                        .quote-company {
                            font-family: 'Open Sans', sans-serif;
                        }
                    }
                }
            }
        }

    }
}