.text-and-image-section {
    .text-and-image-container {
        .text-and-image-row {
        
            .text-col {
                h2 {
                    padding-bottom: 30px; 
                }
                p {
                    padding-bottom: 30px; 
                }
                .bordered-list {
                    columns: 2;
                    -webkit-columns: 2;
                    -moz-columns: 2;
                    padding-bottom: 50px; 
                    margin-bottom: 0; 
                }

            }
        }
    }
    
}