.tile-callout-section {
    .tile-callout-container {
        .tile-callout-title-row {
            padding-bottom: 65px;
        }
        .tile-callout-row {
            .tile-callout-col {
                transform: translateY(0); 
                @media (max-width: 992px) {
                    margin-bottom: 25px;
                    min-height: 200px;
                    width: 100%; 
                }

                &:hover {                
                    animation: bounce 1.2s linear infinite; 
                    animation-play-state: running;
                }
                .single-tile-content-wrapper {
                    aspect-ratio: 3/2;
                    display: flex; 
                    align-items: center;
                    padding: 40px 50px; 
                    .icon-text-wrapper {
                        width: 35%; 
                        font-size: 24px; 
                    }
                    .icon-tile {
                        margin-left: auto; 
                        img {
                            width: 65px; 
                        }
                    }

                }
            }
        }
    }
}

@keyframes bounce {
    0% { transform:translateY(0); }
    50% { transform:translateY(-20px); }
    75% { transform:translateY(-10px); }
    100% { transform:translateY(0); }
}